<!-- Sidebar Shell (responsive) -->
<div [ngClass]="{
    'fixed top-14 bottom-10 left-20 w-[clamp(280px,18vw,360px)] h-full bg-white shadow z-50': !isMobile,
    'fixed top-20 left-2 right-2 bottom-2 bg-white  rounded-t-xl shadow-lg z-[999] flex flex-col sm:hidden': isMobile
  }">
  <div class="h-full flex flex-col min-h-0">
    <!-- Drag Handle for Mobile -->
    <div class="w-full flex justify-center pt-2 sm:hidden">
      <div (click)="close()" class="w-12 h-1.5 bg-gray-300 rounded-full cursor-pointer"></div>
    </div>

    <!-- Scrollable Sidebar Content -->
    <div class="flex-1 min-h-0 overflow-y-auto touch-auto overscroll-y-auto scrollable">
      <ng-container [ngSwitch]="activeSidebar">
        <app-template-sidebar *ngSwitchCase="'design'"></app-template-sidebar>
        <app-element-sidebar *ngSwitchCase="'elements'"></app-element-sidebar>
        <app-text-sidebar *ngSwitchCase="'text'"></app-text-sidebar>
        <app-page-number-settings *ngSwitchCase="'pages'"></app-page-number-settings>
        <app-font-selector *ngSwitchCase="'fonts'"></app-font-selector>
        <app-upload *ngSwitchCase="'uploads'"></app-upload>
        <div *ngSwitchDefault class="text-gray-400 p-4">Select a tool</div>
      </ng-container>
    </div>
  </div>
</div>
