<!-- Sidebar Shell -->
<ng-container *ngIf="isMobile; else desktopSidebar">
  <div class="w-full flex justify-center pt-2">
    <div (click)="close()" class="w-12 h-1.5 bg-gray-300 rounded-full cursor-pointer"></div>
  </div>
  <!-- Mobile Bottom-to-Top Sidebar -->
  <div class="fixed top-5 left-2 right-2 bottom-2 bg-white rounded-t-xl shadow-lg z-[999] flex flex-col sm:hidden">
    <!-- Drag Handle -->


    <!-- Scrollable Content -->
    <div #sidebarShell class="flex-1 min-h-0 overflow-y-auto touch-auto overscroll-y-auto scrollable">
      <ng-container [ngSwitch]="activeSidebar">
        <app-template-sidebar *ngSwitchCase="'design'"></app-template-sidebar>
        <app-element-sidebar *ngSwitchCase="'elements'"></app-element-sidebar>
        <app-text-sidebar *ngSwitchCase="'text'"></app-text-sidebar>
        <app-page-number-settings *ngSwitchCase="'pages'"></app-page-number-settings>
        <app-font-selector *ngSwitchCase="'fonts'"></app-font-selector>
        <app-upload *ngSwitchCase="'uploads'"></app-upload>
        <app-color   *ngSwitchCase="'color'" [config]="config"></app-color>
        <div *ngSwitchDefault class="text-gray-400 p-4">Select a tool</div>
      </ng-container>
    </div>
  </div>
</ng-container>
<ng-template #desktopSidebar>
  <!-- Desktop Left Sidebar with Horizontal Flex -->
  <div class="fixed top-14 bottom-10 left-20 h-full bg-white shadow z-50 flex flex-row w-[clamp(280px,18vw,360px)]">

    <!-- Sidebar Content (scrollable) -->
    <div class="flex-1 min-h-0 overflow-y-auto touch-auto overscroll-y-auto scrollable">
      <ng-container [ngSwitch]="activeSidebar">
        <app-template-sidebar *ngSwitchCase="'design'"></app-template-sidebar>
        <app-element-sidebar *ngSwitchCase="'elements'"></app-element-sidebar>
        <app-text-sidebar *ngSwitchCase="'text'"></app-text-sidebar>
        <app-page-number-settings *ngSwitchCase="'pages'"></app-page-number-settings>
        <app-font-selector *ngSwitchCase="'fonts'"></app-font-selector>
        <app-upload *ngSwitchCase="'uploads'"></app-upload>
        <app-color *ngSwitchCase="'color'" [config]="config"></app-color>
        <div *ngSwitchDefault class="text-gray-400 p-4">Select a tool</div>
      </ng-container>
    </div>

    <!-- Drag Handle (aligned right, vertical) -->
    <div class="flex items-center px-1 cursor-pointer" (click)="close()">
      <div class="w-2 h-12 bg-gray-300 rounded-full hover:bg-gray-400 transition-all"></div>
    </div>

  </div>
</ng-template>
