<!-- sidebar.component.html -->
<div class="fixed top-14 left-0 h-[calc(100vh-3.5rem)] w-20 bg-gray-100 flex flex-col items-center py-4 shadow">
  <div class="flex flex-col gap-6 items-center">

    <button (click)="toggle.emit('design')" [class.text-black]="active === 'design'"
      class="flex flex-col items-center text-sm text-gray-700 hover:text-black">
      <img src="assets/icons/web-design.svg" class="w-6 h-6" />
      <span class="text-xs mt-1">Design</span>
    </button>

    <button (click)="toggle.emit('elements')" [class.text-black]="active === 'elements'"
      class="flex flex-col items-center text-sm text-gray-700 hover:text-black">
      <img src="assets/icons/elements.svg" class="w-6 h-6" />
      <span class="text-xs mt-1">Elements</span>
    </button>

    <button (click)="toggle.emit('text')" [class.text-black]="active === 'text'"
      class="flex flex-col items-center text-sm text-gray-700 hover:text-black">
      <img src="assets/icons/text.svg" class="w-6 h-6" />
      <span class="text-xs mt-1">Text</span>
    </button>

    <button (click)="toggle.emit('uploads')" [class.text-black]="active === 'uploads'"
      class="flex flex-col items-center text-sm text-gray-700 hover:text-black">
      <img src="assets/icons/upload.svg" class="w-6 h-6" />
      <span class="text-xs mt-1">Uploads</span>
    </button>

    <button (click)="toggle.emit('projects')" [class.text-black]="active === 'projects'"
      class="flex flex-col items-center text-sm text-gray-700 hover:text-black">
      <img src="assets/icons/folder.svg" class="w-6 h-6" />
      <span class="text-xs mt-1">Projects</span>
    </button>

    <button (click)="toggle.emit('tools')" [class.text-black]="active === 'tools'"
      class="flex flex-col items-center text-sm text-gray-700 hover:text-black">
      <img src="assets/icons/tools.svg" class="w-6 h-6" />
      <span class="text-xs mt-1">Tools</span>
    </button>

  </div>
</div>
