<div [ngClass]="{

    'fixed top-14 left-0 h-[calc(100vh-3.5rem)] w-20 flex-col py-4': position === 'left',

    'fixed bottom-0 left-0 right-0 w-full h-16 flex-row px-4 py-2 z-100 justify-around': position === 'bottom'
  }" class="bg-gray-100 flex items-center shadow z-40">
  <div
    [ngClass]="position === 'left' ? 'flex flex-col gap-6 items-center' : 'flex flex-row gap-4 justify-around w-full'">
    <ng-container *ngFor="let item of sidebarItems">
      <button (click)="toggle(item.key)" [class.text-black]="active === item.key"
        class="flex flex-col items-center text-sm text-gray-700 hover:text-black">
        <img [src]="item.icon" class="w-6 h-6" />
        <span *ngIf="position === 'left'" class="text-xs mt-1">{{ item.label }}</span>
      </button>
    </ng-container>
  </div>
</div>
