<div class="fixed z-20 transition-all duration-300 flex flex-row-reverse items-start gap-4 right-6 top-20"
  [ngStyle]="transformStyleForToolbar">
  <app-layer-panel></app-layer-panel>

  <app-app-toolbar *ngIf="canvasService.activeObjectSignal()" [mode]="activeObjectType()"></app-app-toolbar>
</div>

<!-- Scrollable Canvas Area -->
<div class="w-full h-full bg-gray-200 overflow-auto" style="height: calc(100vh - 56px - 40px)"
  >
  <div class="flex items-center justify-center min-h-full py-12 px-4" style="min-height: calc(100vh - 56px - 40px);">
    <div id="canvas-wrapper" class="canvas-project-container relative" style="touch-action: none; width: auto; max-width: 100%;">

      <!-- Pages Toolbar -->
      <ng-container *ngFor="let page of pages; let i = index  ">

          <app-pages-toolbar [pageInfo] ="page" [totalPages] = "pages.length" [pageNumber]="i + 1 " (addPage)="addPage()" (deletePage)="onDeletePage()" (duplicate)="onDuplicatePage($event)"
           (titleChange)="onTitleUpdated($event)" (hide)="onHidePage($event)" (moveDown)="onPageDown(i)" (moveUp)="onPageUp(i)" (lock)="onLockToggle($event)">
          </app-pages-toolbar>


        <!-- Canvas View -->
        <app-canvas-view  [data]="page">
        </app-canvas-view>
      </ng-container>

      <!-- Add Page Button -->
      <div class="flex justify-center mt-6">
        <button (click)="addPage()" class="bg-white border px-4 py-2 rounded shadow hover:bg-gray-100">
          ➕ Add Page
        </button>
      </div>

    </div>
  </div>
</div>
