@import "tailwindcss";

@theme {
  --color-violet-b : oklch(61.06% 0.217 301.47);


  --backgroundImage-fancy-purple-bg :linear-gradient(90deg, hsla(263, 42%, 65%, 1) 0%, hsla(319, 77%, 86%, 1) 100%);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.15s ease-out;
}


html, body {
  overscroll-behavior: none;
  overflow: hidden;
  height: 100%;
}

.canvas-wrapper-parent{
  overflow: auto;
  overscroll-behavior: contain; /* allows scroll only here, not globally */
  touch-action: pan-x pan-y;
}




  .btn-option {
    @apply border rounded px-2 py-1 text-sm hover:bg-gray-100;
  }

  .input-field {
    @apply w-full border rounded px-2 py-1 text-sm;
  }

  .label {
    @apply block text-xs text-gray-600 mb-1;
  }


 :root {
  --fancy-purple: linear-gradient(90deg, hsla(263, 42%, 65%, 1) 0%, hsla(319, 77%, 86%, 1) 100%);
  --fancy-violet :linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
}
