@import "tailwindcss";

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.15s ease-out;
}


html, body {
  overscroll-behavior: none;
  overflow: hidden;
  height: 100%;
}

.canvas-wrapper-parent{
  overflow: auto;
  overscroll-behavior: contain; /* allows scroll only here, not globally */
  touch-action: pan-x pan-y;
}
