.canvas-container-wrapper {
  position: relative;
  width: 100%;
  height: 600px;
  flex: 1;
  overflow: scroll;
  position: relative;
  scrollbar-width: thin;

  canvas {
  display: block;
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  }
}

  .toolbar button,
  .toolbar-mobile button {
    padding: 0.5rem 1rem;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  .toolbar input[type="file"] {
    background: white;
    color: black;
  }

  #canvas-wrapper {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
  }
